<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Add Books!</h1>

		<div>
			<form action="/add" method="POST">
				<label for="title">Title</label>
				<input type="text" name="title" placeholder="Title" />
				<label for="author">Author</label>
				<input type="text" name="author" placeholder="Author" />
				<label for="language">Language</label>
				<input type="text" name="language" placeholder="Language" />
				<button type="submit">Submit</button>
			</form>
		</div>

		<div>
			{% for book in books %}
			<p>
				<a href="/book/{{book.id}}">{{book.title}}</a>
				<a href="/delete/{{book.id}}">Delete</a>
			</p>
			{% endfor %}
		</div>
	</body>
</html>
